<table border="1">
  <thead>
    <tr>
      <th>Company</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Addresses</th>
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <tr>
        <td><%= person.workplace.name %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.age %></td>
        <td>
          <% person.addresses.each do |address| %>
            <ul>
              <li><%= address.street %></li>
              <li><%= address.city %></li>
              <li><%= address.country %></li>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
