<div id="filter-form">
  <%= form_tag(people_path, method: :get, remote: true) do %>
      <%= label_tag(:filter, 'Filter for:') %>
      <%= text_field_tag(:filter) %>
      <%= submit_tag('Filter') %>
  <% end %>
</div>
<div id="people">
  <%= render('people/table', people: @people) %>
</div>
<div id="paginator">
  <%= paginate(@people, remote: true) %>
</div>
