document.getElementById('people').innerHTML = "<%= escape_javascript(render('people/table', people: @people)) %>";
document.getElementById('paginator').innerHTML = "<%= escape_javascript(paginate(@people, remote: true)) %>";
